
.section-divider-faq {
    border: 1px solid #d0d7e1;
}

.section-header-faq {
    color: rgb(255, 255, 255);
    background: #00bc78;
    padding: 10px;
    font-weight: bold;
}


.claims-content-faq {
    background-color: #ffffff;
    padding: 20px 0;
}


.arrowColor-faq {
    color: #00bc78;
    margin-right: 10px;
}

.border-bottom-faq {
    border-bottom: 1px solid #d0d7e1;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
}