

@font-face {
    font-family: 'open_sansbold';
    src: url('../../assets/fonts/WOFF/opensans-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../../assets/fonts/WOFF/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_extraboldregular';
    src: url('../../assets/fonts/WOFF/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_extrabolditalic';
    src: url('../../assets/fonts/WOFF/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('../../assets/fonts/WOFF/opensans-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_lightregular';
    src: url('../../assets/fonts/WOFF/opensans-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_lightitalic';
    src: url('../../assets/fonts/WOFF/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../../assets/fonts/WOFF/opensans-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('../../assets/fonts/WOFF/opensans-semibold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sans_semibolditalic';
    src: url('../../assets/fonts/WOFF/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/opensans-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pacificoregular';
    src: url('../../assets/fonts/WOFF/pacifico-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/WOFF/pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}