.react-tabs__tab--selected {
    background: #f2f2f2;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}

.MuiTab-textColorInherit.Mui-selected {
    font-weight: 700;
}

.claims > div {
    padding: 24px 0;
}

.box-shadow-none {
    box-shadow: none !important;
}